<form action="/add" method="POST">
  <div>
    <p>Titulo:</p>
    <input style="text-transform: capitalize;" type="text" name="titulo" />
  </div>

  <div>
    <p>Conteudo:</p>
    <textarea style="text-transform: capitalize;" name="conteudo"></textarea>
  </div>

  <button type="submit">Cadastrar Postagens</button>
</form>